header {
  height: 51px;
  border-bottom: 1px solid #d60213;
  background-image:  repeating-linear-gradient(45deg, #f0f9ff 0%, #cbebff 75%, #a1dbff 100%);
}
body{
  background: linear-gradient(135deg, #959595 19%,#0d0d0d 39%,#010101 46%,#0a0a0a 49%,#4e4e4e 63%,#1b1b1b 100%);

}
.container {
  width: 970px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}
.container ul {
  display: flex;
}
li {
  padding: 10px;
  text-transform: capitalize;
}

.mainpage {
  display: flex;
  background-color: black;

  height: 750px;
  padding-top: 80px;
  justify-content: flex-end;

}
.vision {
  background-color: pink;
  display: flex;
  height: 100px;
  width: 350px;
  margin-right: 180px;
  opacity: 0.3;
}
.vision p {
  text-align: center;
  padding-top: 20px;
  line-height: 1.3;
  font-size: bold;
  font-family: fantasy;
}

/*.box-1 {*/
  transform: rotate(20deg);
  width: 40px;
  height: 50px;
  background-color: green;
}

.original,
.box {
  border-radius: 6px;
}
.original {
  background-image: linear-gradient(
      45deg, #f0f9ff 0%, #cbebff 75%, #a1dbff 100%
   );
  border: 1px dashed #cecfd5;
  justify-content: flex-start;
  margin: 12px 15px;
  width: 99px;
}
.box {
  background: #2db34a;
  height: 95px;
  line-height: 95px;
  text-align: center;
  width: 95px;
}
.spin {
  cursor: pointer;
  transform-style: preserve-3d;
}
.spin:hover {
    animation: spin 5s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.box-1 {
  transform: rotate(20deg);
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.gallery img {
  border: 8px solid white;
  transition: all 300ms ease;
}
.gallery  img:hover {
  border-width: 0px;
  transform: scale(1.33) translateY(20px);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}


.smlpc img {
  width: 400px;
  height: 200px;

}
